In [2]:
import pandas as pd
import numpy as np

df = pd.DataFrame({
    'name' : ['AA', 'BB', 'CC', 'DD'],
    'age' : [10, 22, 33, 44],
    'gender' : ['F', 'M', 'M', 'F']
}, columns=['name', 'age', 'gender', 'position'],
   index=[1,2,3,4])
df

  name  age gender position
1   AA   10      F      NaN
2   BB   22      M      NaN
3   CC   33      M      NaN
4   DD   44      F      NaN

In [6]:
# df.position = 'L1'
df.position = np.arange(4.)
df

  name  age gender  position
1   AA   10      F       0.0
2   BB   22      M       1.0
3   CC   33      M       2.0
4   DD   44      F       3.0

In [8]:
print df.columns

Index([u'name', u'age', u'gender', u'position'], dtype='object')

In [9]:
print df[df.age > 20]

  name  age gender  position
2   BB   22      M       1.0
3   CC   33      M       2.0
4   DD   44      F       3.0

In [10]:
print df[['name','age']]

  name  age
1   AA   10
2   BB   22
3   CC   33
4   DD   44