In [17]:
import pandas as pd
import numpy as np

df_stocks = pd.DataFrame({
    'ticker s': ['GOOGL a','WMT','MSFT','','BYE'],
    'price': ['',55,67,88,''],
    'events': ['Rain','Sunny','Snow','ef','ed2e']
})

df_weather = pd.DataFrame({
    'day': ['11/07/2018','15/07/2018','13/07/2018'],
    'temp': [45,67,89],
    'events': ['Rain','Sunny','Snow']
})

In [27]:
df_stocks

  events price ticker s
0   Rain        GOOGL a
1  Sunny    55      WMT
2   Snow    67     MSFT
3     ef    88
4   ed2e            BYE

In [44]:
df_weather.to_html(index=False)

u'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th>day</th>\n      <th>events</th>\n      <th>temp</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <td>11/07/2018</td>\n      <td>Rain</td>\n      <td>45</td>\n    </tr>\n    <tr>\n      <td>15/07/2018</td>\n      <td>Sunny</td>\n      <td>67</td>\n    </tr>\n    <tr>\n      <td>13/07/2018</td>\n      <td>Snow</td>\n      <td>89</td>\n    </tr>\n  </tbody>\n</table>'

In [24]:
col = ['events','price']

In [20]:
#with pd.ExcelWriter('files/stock_weather.xlsx') as writer:
writer = pd.ExcelWriter('files/stock_weather.xlsx')
d = df_stocks.to_excel(writer, sheet_name = 'stocks',columns=col)
df_weather.to_excel(writer, sheet_name = 'weather')

In [21]:
df_w = pd.read_excel('files/stock_weather.xlsx', sheet_name = 'stocks')
df_w

  events  price
0   Rain    NaN
1  Sunny   55.0
2   Snow   67.0
3     ef   88.0
4   ed2e    NaN

In [119]:
df_s = pd.read_excel('files/stock_weather.xlsx', sheet_name = 'stocks')
#df_s = df_s.fillna(0)
df_s.sheet_name()

AttributeError: 'DataFrame' object has no attribute 'sheet_name'

In [83]:
df_s = df_s.fillna({
    'price': 0,
    'tickers' : 'Null'
})
df_s

   price tickers
0    0.0   GOOGL
1   55.0     WMT
2   67.0    MSFT
3   88.0    Null
4    0.0     BYE

In [94]:
df_s

   price tickers
0    NaN   GOOGL
1   55.0     WMT
2   67.0    MSFT
3   88.0     NaN
4    NaN     BYE

In [87]:
df_s = df_s.fillna(method='bfill')
df_s

   price tickers
0   55.0   GOOGL
1   55.0     WMT
2   67.0    MSFT
3   88.0     BYE
4    NaN     BYE

In [89]:
df_s = df_s.fillna(method='bfill', axis='columns')
df_s

   price tickers
0  GOOGL   GOOGL
1     55     WMT
2     67    MSFT
3     88     NaN
4    BYE     BYE

In [105]:
df_s = df_s.fillna(method='bfill', limit=1)
df_s

   price tickers
0   55.0   GOOGL
1   55.0     WMT
2   67.0    MSFT
3   88.0     BYE
4    NaN     BYE

In [103]:
df_s.interpolate(method='linear')

   price tickers
0    NaN   GOOGL
1   55.0     WMT
2   67.0    MSFT
3   88.0     NaN
4   88.0     BYE

In [111]:
df_s.dropna(how='all')    # drops the rows which have all the NaN values

   price tickers
0    NaN   GOOGL
1   55.0     WMT
2   67.0    MSFT
3   88.0     NaN
4    NaN     BYE

In [116]:
df_s.dropna(thresh=2)     # keeps the rows which have at least 2 *NON-NaN values*

   price tickers
1   55.0     WMT
2   67.0    MSFT